<%# 仮の画面提示用 %>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap講座</title>
    <!-- Bootstrap CSS CDN -->
    </head>
<body>
    <div class="container-fluid py-3">
        <div class="row"><!-- グリッド（行）-->
            <div class="col-4"><!-- グリッド（左列）-->
                <form class="card" action="" method="get">
                    <div class="card-header">検索フォーム</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">キーワード</label>
                            <input type="text" class="form-control" placeholder="氏名・住所">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">性別</label>
                            <select class="form-select">
                                <option value=""></option>
                                <option value="male">男性</option>
                                <option value="female">女性</option>
                                <option value="lgbdq">その他</option>
                            </select>
                        </div>                            
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success w-100">検索</button>
                    </div>
                </form>
            </div>
            <div class="col-8"><!-- グリッド（右列）-->
                <div class="pb-2 border-bottom mb-3 d-flex justify-content-between align-items-start">
                    <h1 class="h3">顧客管理</h1>
                    <button class="btn btn-sm btn-outline-danger">新規登録</button>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th><th>氏名</th><th>性別</th><th>住所</th><th>電話番号</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td><td>山田太郎</td><td>男性</td><td>東京都新宿区◯◯</td><td>090-1234-5678</td>
                        </tr>
                        <tr>
                            <td>1002</td><td>鈴木花子</td><td>女性</td><td>東京都渋谷区◯◯</td><td>090-5432-9876</td>
                        </tr>
                        <tr>
                            <td>1003</td><td>佐藤敏子</td><td>女性</td><td>神奈川県川崎市◯◯</td><td>090-3333-4444</td>
                        </tr>
                        <tr>
                            <td>1004</td><td>吉田義男</td><td>男性</td><td>群馬県高崎市◯◯</td><td>090-9876-5432</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>