<% @document_title = '図書管理システム' %>
<div class="mb-3">
    <div class="card">
        <div class="card-header">会員管理</div>
        <div class="card-body">
            新規会員登録<br>
            <%= link_to '会員一覧', sample_path %><br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">資料管理</div>
        <div class="card-body">
            新規資料登録<br>
            資料一覧<br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">在庫管理</div>
        <div class="card-body">
            新規資料登録<br>
            資料一覧<br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">貸出管理</div>
        <div class="card-body">
            新規資料登録<br>
            資料一覧<br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">延滞対応</div>
        <div class="card-body">
            新規資料登録<br>
            資料一覧<br>
        </div>
    </div>
</div>
