<% @document_title = '図書管理システム' %>
<div class="mb-3">
    <div class="card">
        <div class="card-header">会員台帳管理</div>
        <div class="card-body">
            <%= link_to '会員台帳', members_path %><br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">資料目録管理</div>
        <div class="card-body">
            <%= link_to '資料目録', catalogs_path %><br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">在庫管理</div>
        <div class="card-body">
            <%= link_to '在庫台帳', stocks_path %><br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">貸出管理</div>
        <div class="card-body">
            貸出台帳<br>
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="card">
        <div class="card-header">延滞対応</div>
        <div class="card-body">
            資料一覧<br>
        </div>
    </div>
</div>
